<h2>会員情報編集</h2>

<%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>

  <div class="field">
    氏名<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, "フリガナ" %><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>
  
  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :telephone_number,"電話番号（ハイフンなし）" %>
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
  <%= f.submit "変更内容を保存" %>
  </div>
  
  <%= link_to "退会する", customers_unsubscribe_path %>
  
  
<% end %>