　<h2>商品編集</h2>

　<div class="text-center">
<%= form_with model: @item, url: admin_item_path(@item.id) do |f| %>
  <td>商品画像</td>
  <td><%= f.file_field :item_image, accept: "image/*" %></td>
  <div>商品名
  <%= f.text_field :name %></div>
  <div>商品説明
  <%= f.text_area :introduction %></div>
  <div>ジャンル
  <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "選択してください"}, class: 'form-control', id: 'genre-select' %></div>
  <div>税抜価格
  <%= f.text_field :price %>円</div>
  <div>販売ステータス
  <div class="custom-control custom-radio custom-control-inline">
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, '販売中', for: 'is_active-on-sale' %>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, '販売停止中', for: 'is_active-off-sale' %>
  </div>
  </div>
  <%= f.submit '変更を保存',class: "btn btn-success" %>
<% end %>
  </div>