  <h4>商品新規登録</h4>

  <div class="text-center">
<%= form_with model: @item, url: admin_items_path do |f| %>
  <div class="form-group">商品画像
  <%= f.file_field :item_image, accept: "image/*" %></div>
  <div class="form-group">商品名
  <%= f.text_field :name %></div>
  <div class="form-group">商品説明
  <%= f.text_area :introduction %></div>
  <div class="form-group">ジャンル
  <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "選択してください"}, class: 'form-control', id: 'genre-select' %></div>
  <div class="form-group">税抜価格
  <%= f.text_field :price %>円</div>
  <div class="form-group">販売ステータス
  <div class="custom-control custom-radio custom-control-inline">
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, '販売中', for: 'is_active-on-sale' %>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, '販売停止中', for: 'is_active-off-sale' %>
  </div>
  </div>

  <div class="form-group"><%= f.submit '新規登録',class: "btn btn-success" %></div>
<% end %>

  </div>
