<div class="container">
  <div class="row">  
    <div class="col">
      <h4 class="font-weight-bold ml-5">会員一覧</h4>
      <table class='table table-hover mx-auto my-5 w-75'>
        <thead class="bg-secondary ">
          <tr>
            <th class="font-weight-bold", style="width:100px">会員ID</th>
            <th class="font-weight-bold under"><u>氏名</u></th>
            <th class="font-weight-bold">メールアドレス</th>
            <th class="font-weight-bold">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %>
              </td>
              <td><%= link_to customer.name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
              <td class="<%= customer.is_active? ? 'text-success font-weight-bold' : 'text-muted font-weight-bold' %>"><%= customer.customer_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
      </div>
    </div>  
  </div>  