<% if genre.new_record? %>
  <%= form_with model: genre,url: admin_genres_path, local:true do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :name, "ジャンル名" %>
        <%= f.text_field :name, class: 'form-control genre_name' %>
      </div>
        <%= f.submit genre.new_record? ? "新規投稿" : "更新", class: "btn btn-primary" %>
     <% end %> 
    </div> 
 <% else %>
    <div class="form-group">
     <%= form_with model: genre,url: admin_genre_path, local:true do |f| %>
      <div class="form-group">
        <%= f.label :name, "ジャンル名" %>
        <%= f.text_field :name, class: 'form-control genre_name' %>
      </div>
        <%= f.submit genre.new_record? ? "新規投稿" : "更新", class: "btn btn-primary" %>
     <% end %> 
    </div>  
 <% end %> 
 