<div class="from-items mb-5 mt-5">
<% if genre.new_record? %>
  <%= form_with model: genre,url: admin_genres_path, local:true do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :name, "ジャンル名", class:"font-weight-bold mr-4" %>
        <%= f.text_field :name, class: 'form-control genre_name ml-4 mr-4' %>
      </div>
      <div class="form-group">
        <%= f.submit genre.new_record? ? "新規投稿" : "変更を保存", class: "btn btn-success ml-4" %>
      </div>
     <% end %> 
    </div> 
 <% else %>
     <%= form_with model: genre,url: admin_genre_path, local:true do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :name, "ジャンル名", class:"font-weight-bold mr-4" %>
        <%= f.text_field :name, class: 'form-control genre_name ml-4 mr-4' %>
      </div>
      <div class="form-group">
        <%= f.submit genre.new_record? ? "新規投稿" : "変更を保存", class: "btn btn-success ml-4" %>
      </div>  
     <% end %> 
    </div>  
 <% end %> 
</div> 