<h2>注文履歴一覧</h2>

<h4>購入日時</h4>
<h4>購入者</h4>
<h4>注文個数</h4>
<h4>注文ステータス</h4>

<%= link_to admin_order_path(@order.id) do %>
  <%= @order.created_at %>
<% end %>
  <%= @order.name %>
  <%= @order_detail.amount %>
  <%= @order.status %>

