<h2>ショッピングカート</h2>

<div>
  <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete %>
</div>

<div>
  <div>
	  <table>
  	  <thead>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </thead>
      <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
           <td>
            <%= link_to public_item_path(cart_item.item_id) do %>
              <%= attachment_image_tag cart_item.item, :image, size: "50x50" %>
              <%= cart_item.item.item_name %>
            <% end %>
          </td>
          <td><%= cart_item.item.add_tax_sales_price %></td>
          <td>
            <%= form_for cart_item, url: public_cart_item_path(cart_item) do |f| %>
            <%= f.number_field :number_of_items, min:1, max: 20 %>　　<%= f.submit "更新" %>
            <% end %>
          </td>
          <td><%= cart_item.subtotal %></td>
          <% @total +=  cart_item.subtotal %>
          <td>
            <div>
             <%= link_to "削除する", public_cart_item_path(cart_item), method: :delete %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    
    <%= link_to "買い物を続ける", items_path %>
    
    <table>
      <tr>
        <td>合計金額</td>
        <td>1,000,000,000,000</td>
      </tr>
    </table>
    
    <%= link_to "情報入力に進む", orders_path %>
  </div>
</div>