  <div class="container pt-5">
    <div class="row md -4">
      <div class="col-md-8">
      <h3>注文情報確認</h3>
        <table>
          <thead>
            <tr>商品名</tr>
            <tr>単価(税込)</tr>
            <tr>数量</tr>
            <tr>小計</tr>
          </thead>
          <tbody>
            <% @total = 0 %>
            <% @cart_item.each do |cart_item| %>
              <tr>
                <td>
                  
                  <%= cart_item.item.name %>
                </td>
                <td><%= cart_item.item.add_tax_sales_price %></td>
                <td><%= cart_item.amount %></td>
                <% @total += cart_item.subtotal %>
                <td><%= cart_item.subtotal %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <table>
          <tr>
            <td>送料</td>
            <td>800</td>
          </tr>
          <tr>
            <td>商品合計</td>
            <td><%= total %></td>
          </tr>
          <tr>
            <td>請求金額</td>
            <td><%= @total + 800 %></td>
          </tr>
        </table>
      </div>
      
      <div>
        <h5>支払方法</h5>
      </div>
      <div>
        <h5>お届け先</h5>
        <p>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></p>
      </div>
      
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    </div>
  </div>