<div class="container">
  <div class="row">
    <div class="col-">
      <%= image %>
      <%= items.name %>
      <%= items.introduction %>
      ¥<%= (item.unit_price_without_tax*1.1).floor %>（税込）
    </div>
    
    
    <div class="col-">
      <%= f.label :amount, "個数選択" %>
      <%= f.select :amount, 1..10 %>
      <%= f.submit "カートに入れる" %>
    </div>
